
<div class="container" id="home-container">
    <!-- Content here -->
    <div class="container-fluid home-jumbo text-light p-5 text-center">
        <div class="container p-5 text-white ">
            <h1 class="display-4 bg-dark">Alpha Blog</h1>
            <hr class="bg-dark">
            <p class="bg-dark">Go to My Website</p>
            <a href="#" class="btn btn-success">Sing up!</a>
        </div>
    </div>
</div>