body{ 
    background-color: lightgray !important;
}

.nav-link{
    color: white !important; 
}

#logo {
    float: left;
    font-size: 1.7em;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: -1px;
    font-weight: bold;
}

#home-container {
    margin-top: 25px;
}

.home-jumbo{
    background-image: asset-url("home-jumbotron.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

html,
body {
  height: 100%;
}

#page-content {
  flex: 1 0 auto;
}

#articles-container>.card {
    display: inline-flex !important;
    max-width: 250px !important; 
    max-height: 250px !important;
    margin-top: 0px !important;
}

#articles-container>.card>.card-body{
    min-height: 190px !important;
    max-height: 190px !important;
}
